body {
    margin: 0;
    background-color:#ffffff;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
#navbar {
    background:#1c3d6c;	
    position: fixed;
    width: 100%;
    display: block;
    transition: top 1.0s;
    text-align: center;
    z-index: 1;
    border-bottom-color: #ffd200;
    border-bottom-width: 3px;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom-style: solid;
}
  
#navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: auto;
    padding: 10px 5px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif ;
}

@media only screen and (max-width: 768px) {
    #navbar a {
        font-weight: 600;
        font-size: 16px;
        font-family: 'Roboto', sans-serif ;
    }
}
#navbar a:hover {
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
    font-family: 'Roboto', sans-serif ;
}
  
@media only screen and (max-width: 768px) {
    #navbar a:hover {
      font-weight: 900;
    }
}

#spacer {
    height: 100px;
}

/* Project Wrapper */
.project-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #0064a4;
    border-top-color: #ffd200;
    border-top-style: solid;
    border-top-width: 3px;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #ffd200;
}

/* Collapsible Cards */
.card-header {
    background-color: #1c3d6c !important;
}
.btn-link {
    color: #ffffff !important;
}
.btn-link:hover {
    font-weight: 600 !important;
}
.card-body {
    background: #0064a4;
}

/* Titles */
.title {
    font-size: 28px !important;
}
  
 /* Overall Font Styling */
h1, h2, h3, h4, h5, h6, label {
    font-family: 'Roboto', sans-serif ;
    color: #ffffff !important;
}
  
@media only screen and (max-width: 768px) {
    h1 {
      font-size: 18px !important;
    }
    h2 {
      font-size: 16px !important;
    }
    h3 {
      font-size: 14px !important;
    }
    h4  {
      font-size: 12px !important;
    }
    h5 {
      font-size: 10px !important;
    }
    h6 {
      font-size: 8px !important;
    }
    .contact-me {
      font-size: 24px !important;
    }
    #map {
      font-size: 24px !important;
    }
}
  
p {
    color: #ffffff;
    font-weight: inherit;
    font-size: 20px;
    justify-self: center;
    text-indent: 50px;
}
  
@media only screen and (max-width: 768px) {
    p {
        font-size: 18px;
    }
}
  
p a {
    color: #E8E8E8;
    font-style: italic;
}
  
p a:hover {
    color: #F5F5F5;
}

/* Contact */
#contact {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #0064a4;
    border-top-color: #ffd200;
    border-top-style: solid;
    border-top-width: 3px;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #ffd200;
}
  
#contact a  {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}
  
#contact a:hover  {
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;
}
  
button {
    align-content: center;
    padding-right: 15px;
    padding-left: 15px;
}

.btn p {
    font-size: 20px;
    padding-top: 15px;
}
  
.btn p:hover {
    color: #ffffff;
}

/* Footer */
footer {
    background:#1c3d6c;
    width: 100%;
    display: block;
    transition: top 1.0s;
    text-align: center;
    z-index: 1;
    border-top-color: #ffd200;
    border-top-width: 3px;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-top-style: solid;
}
  
footer a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    margin: auto;
    padding: 10px 5px;
    font-size: 24px;
}
  
footer a:hover {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
}